# requirements_windows.txt
google-generativeai
azure-cognitiveservices-speech
pyaudio
numpy
python-dotenv
requests
groq
pycryptodome

# Platform-specific dependencies
openai-whisper
llama-cpp-python --extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu121